// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-canvas {
    width: 1200px;
    height: 600px;
}
.contanier {
  height: 100px;
}

.combobox {
  width: 400px;
}


// .info {
//   width: 50px;
//   height: 50px;
// }
